<div class="container">
    <h1>Heading</h1>
    <div class="slider">

        <div class="slides">
            {% for block in section.blocks %}
                <img src="{{ block.settings.slider_image | image_url }}" alt="">
            {% endfor %}
        </div>
        <button class="prev">{% render 'icon-chevron-left' %}</button>
        <button class="next">{% render 'icon-chevron-right' %}</button>
    </div>
    
</div>


{% schema %}
    {
        "name": "slider",
        "settings": [
         
            ],
            "blocks": [
                {
                    "name": "slider",
                    "type": "slider",
                    "settings": [
                        {
                            "type": "image_picker",
                            "id": "slider_image",
                            "label": "Image"
                        }
                        
                        
                        
                    ]
                }
            ],
            "presets": [
                    {
                        "name": "Slider"
                    }
                ]
    }
    {% endschema %}