:root {
  /* Fonts */
  --font-header: "Bai Jamjuree, sans-serif", Arial, sans-serif;
  --font-body: "Bai Jamjuree, sans-serif", Arial, sans-serif;
  --text-color: #182e4c;
  --heading-color: #182e4c;
  --page-background: #e7edf0;
  --blue-background: #1032cf;
  --light-red: #f84f43;
  --dark-red: #db3832;
  --contrast-color: #fef050;
}

.blue {
  background-color: var(--text-color);
  color: white;
}

.yellow {
  background-color: var(--contrast-color);
}

.white {
  color: white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  color: var(--text-color);
  text-decoration: none;
}

h1 {
  font-family: var(--font-header);
  font-size: 54px;
  font-weight: 700;
  line-height: 1em;
  overflow-wrap: anywhere;
  margin-top: 0;
  margin-bottom: 0;
  color: #182e4c;
  margin: 0.67em 0 0 0;
}

@media screen and (max-width: 767px) {
  h1 {
    overflow-wrap: anywhere;
    font-size: 40px;
  }
}
@media screen and (max-width: 479px) {
  h1 {
    white-space: pre-wrap;
    font-size: 26px;
  }
}
p {
  font-family: var(--font-body);
  margin-bottom: 0;
  font-size: 19px;
  line-height: 1.4em;
  color: #182e4c;
}

.block-text {
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.center-text {
  text-align: center;
}

.nav {
  z-index: 1000;
  padding-top: 28px;
  padding-bottom: 28px;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}
.nav .logo {
  max-width: 200px;
  max-height: 30px;
}
.nav .content-wrapper {
  height: 64px;
  justify-content: center;
  display: flex;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3vw;
  padding-right: 3vw;
}
.nav .content-wrapper .nav-inner {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.nav .content-wrapper .nav-inner .burgerbar {
  display: none;
  height: 32px;
  width: 32px;
}
.nav .content-wrapper .nav-inner .menu {
  margin: auto auto;
  display: flex;
}
.nav .content-wrapper .nav-inner .menu .dropdown {
  display: flex;
  margin: auto;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box {
  min-width: 313px;
  margin-top: 15px;
  box-shadow: 0 20px 50px 9px rgba(0, 0, 0, 0.18);
  position: absolute;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box .dropdown-item {
  align-items: center;
  display: flex;
  grid-column-gap: 22px;
  padding: 14px 21px 14px 14px;
  border-bottom: 1px solid #e7edf0;
  background-color: white;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box .dropdown-item svg {
  height: 11px;
  width: 11px;
  position: absolute;
  right: 20px;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box .dropdown-item .circle-icon {
  height: 50px;
  width: 50px;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
}
.nav .content-wrapper .nav-inner .menu .dropdown svg {
  height: 11px;
  width: 11px;
  margin-left: 4px;
}
.nav .content-wrapper .nav-inner .menu .menu-link {
  align-items: center;
  margin: 12px 1.8vw;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  display: flex;
}
.nav .content-wrapper .nav-inner .nav-right {
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}
.nav .content-wrapper .nav-inner .nav-right .information {
  display: flex;
  align-items: center;
  gap: 11px;
}
.nav .content-wrapper .nav-inner .nav-right .information .primary-button {
  width: 150px;
}

@media screen and (max-width: 991px) {
  .logo {
    height: 24px;
    width: 180px;
  }
  .nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav .content-wrapper {
    height: 50px;
  }
  .nav .content-wrapper .nav-inner .nav-right {
    display: none;
  }
  .nav .content-wrapper .nav-inner .burgerbar {
    display: block;
  }
}
.divider {
  padding-top: 120px;
}

@media screen and (max-width: 991px) {
  .divider {
    padding-top: 70px;
  }
}
.hero {
  width: 100%;
  height: 700px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.hero .image-overlay {
  position: relative;
  top: 0;
  height: 700px;
}
.hero img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  object-fit: cover;
}
.hero .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Juster tekstfarven efter baggrundsbilledet */
  z-index: 1;
  max-width: 800px;
}
.hero .hero-text .hero-buttons {
  display: flex;
  margin-top: 50px;
  gap: 60px;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .hero {
    height: 350px;
  }
  .hero .hero-text .hero-buttons {
    gap: 11px;
    margin-top: 20px;
  }
}
.text-with-image {
  height: 622px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: solid 2px var(--page-background);
}
.text-with-image .image-section {
  overflow: hidden;
}
.text-with-image .image-section img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.text-with-image .information {
  width: 100%;
  max-width: 590px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 5vw;
  align-items: start;
}
.text-with-image .information .icon {
  width: 30px;
  height: 30px;
}
.text-with-image .information .icon img {
  object-fit: cover;
}

.text-with-image-reverse {
  direction: rtl;
}

.text-with-image .information-reverse {
  align-items: end;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .text-with-image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .text-with-image .information-reverse {
    width: auto;
  }
}
.two-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 5vw;
  border-bottom: solid 2px var(--page-background);
}
.two-elements .image-element img {
  width: 100%;
  height: 400px;
}
.two-elements .image-information {
  width: 100%;
  max-width: 590px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: start;
}

@media screen and (max-width: 991px) {
  .two-elements {
    grid-template-columns: 1fr;
  }
}
body {
  background-color: var(white);
  font-family: var(--font-body);
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}

.flex {
  display: flex;
}

.primary-button {
  color: #fff;
  z-index: 0;
  grid-column-gap: 11px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 20px;
}

.button-text-blue {
  z-index: 2;
  font-size: 16px;
  line-height: 1em;
  position: relative;
  color: var(--text-color);
}

.button-text-white {
  z-index: 2;
  font-size: 16px;
  line-height: 1em;
  position: relative;
  color: white;
}

@media screen and (max-width: 479px) {
  .primary-button {
    padding: 15px 30px;
  }
  .button-text {
    font-size: 14px;
  }
}
.secondary-button {
  background-color: transparent;
  color: #fff;
  z-index: 0;
  grid-column-gap: 11px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 20px;
}

@media screen and (max-width: 479px) {
  .secondary-button {
    padding: 15px 30px;
  }
  .button-text {
    font-size: 14px;
  }
}
.primary-button-blue {
  background-color: var(--text-color);
}

.primary-button-red {
  background-color: var(--dark-red);
}

.primary-button-yellow {
  background-color: var(--contrast-color);
}

.secondary-button-yellow {
  border: 2px solid var(--contrast-color);
}

.secondary-button-blue {
  border: 2px solid var(--text-color);
}

.secondary-button-red {
  border: 2px solid var(--dark-red);
}

/*# sourceMappingURL=index.css.map */
