:root {
  /* Fonts */
  --font-header: "Bai Jamjuree, sans-serif", Arial, sans-serif;
  --font-body: "Bai Jamjuree, sans-serif", Arial, sans-serif;
  --text-color: #182e4c;
  --heading-color: #182e4c;
  --page-background: #e7edf0;
  --blue-background: #1032cf;
  --light-red: #f84f43;
  --dark-red: #db3832;
  --contrast-color: #fef050;
}

.blue {
  background-color: var(--text-color);
  color: white;
}

.yellow {
  background-color: var(--contrast-color);
}

.white {
  color: white;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  color: var(--text-color);
  text-decoration: none;
}

h1, .h1 {
  font-family: var(--font-header);
  font-size: 54px;
  font-weight: 700;
  line-height: 1em;
  overflow-wrap: anywhere;
  margin-top: 0;
  margin-bottom: 0;
  color: #182e4c;
  margin: 0.67em 0 0 0;
}

@media screen and (max-width: 767px) {
  h1, .h1 {
    overflow-wrap: anywhere;
    font-size: 40px;
  }
}
@media screen and (max-width: 479px) {
  h1, .h1 {
    white-space: pre-wrap;
    font-size: 26px;
  }
}
p {
  font-family: var(--font-body);
  margin-bottom: 0;
  font-size: 19px;
  line-height: 1.4em;
  color: #182e4c;
}

.block-text {
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.center-text {
  text-align: center;
}

.nav {
  z-index: 1000;
  padding-top: 28px;
  padding-bottom: 28px;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}
.nav .logo {
  max-width: 200px;
  max-height: 30px;
}
.nav .content-wrapper {
  height: 64px;
  justify-content: center;
  display: flex;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3vw;
  padding-right: 3vw;
}
.nav .content-wrapper .nav-inner {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.nav .content-wrapper .nav-inner .burgerbar {
  display: none;
  height: 32px;
  width: 32px;
}
.nav .content-wrapper .nav-inner .menu {
  margin: auto auto;
  display: flex;
}
.nav .content-wrapper .nav-inner .menu .dropdown {
  display: flex;
  margin: auto;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box {
  min-width: 313px;
  margin-top: 15px;
  box-shadow: 0 20px 50px 9px rgba(0, 0, 0, 0.18);
  position: absolute;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box .dropdown-item {
  align-items: center;
  display: flex;
  grid-column-gap: 22px;
  padding: 14px 21px 14px 14px;
  border-bottom: 1px solid #e7edf0;
  background-color: white;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box .dropdown-item svg {
  height: 11px;
  width: 11px;
  position: absolute;
  right: 20px;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box .dropdown-item .circle-icon {
  height: 50px;
  width: 50px;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
}
.nav .content-wrapper .nav-inner .menu .dropdown svg {
  height: 11px;
  width: 11px;
  margin-left: 4px;
}
.nav .content-wrapper .nav-inner .menu .menu-link {
  align-items: center;
  margin: 12px 1.8vw;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  display: flex;
}
.nav .content-wrapper .nav-inner .nav-right {
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}
.nav .content-wrapper .nav-inner .nav-right .information {
  display: flex;
  align-items: center;
  gap: 11px;
}
.nav .content-wrapper .nav-inner .nav-right .information .primary-button {
  width: fit-content;
}
.nav .content-wrapper .nav-inner .nav-right .information .primary-button svg {
  width: 20px;
}
.nav .mega-menu.open {
  transform: translateX(0);
  opacity: 1;
}
.nav .mega-menu {
  transition: transform 0.5s ease-in-out;
  z-index: 100;
  width: 50%;
  height: 100vh;
  grid-row-gap: 20px;
  background-color: #fff;
  flex-direction: column;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translateX(100%);
  position: absolute;
  top: 120px;
  bottom: auto;
  right: 0;
  overflow: scroll;
  box-shadow: 0 20px 50px 3px rgba(0, 0, 0, 0.18);
  padding: 5vw;
}
.nav .mega-menu .cart-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  width: 170px;
}
.nav .mega-menu .cart-button svg {
  width: 20px;
}
.nav .mega-menu .mega-menu_nav-item {
  width: 90%;
  grid-column-gap: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  border-bottom: solid 2px var(--page-background);
}
.nav .mega-menu .mega-menu_nav-item .menu-link {
  align-items: center;
  display: flex;
}
.nav .mega-menu .mega-menu_nav-item .mega-menu_circle-icon {
  object-fit: contain;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: gray;
}

@media (max-width: 991px) {
  .logo {
    height: 24px;
    width: 180px;
  }
  .nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav .mega-menu {
    width: 100%;
    right: auto;
    top: 70px;
  }
  .nav .content-wrapper {
    height: 50px;
  }
  .nav .content-wrapper .nav-inner .nav-right {
    display: none;
  }
  .nav .content-wrapper .nav-inner .burgerbar {
    display: block;
  }
}
.divider {
  padding-top: 120px;
}

@media screen and (max-width: 991px) {
  .divider {
    padding-top: 70px;
  }
}
@media (min-width: 692px) {
  .nav .mega-menu {
    width: 50%;
    right: 0;
  }
}
.hero {
  width: 100%;
  height: 700px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.hero .image-overlay {
  position: relative;
  top: 0;
  height: 700px;
}
.hero img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  object-fit: cover;
}
.hero .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Juster tekstfarven efter baggrundsbilledet */
  z-index: 1;
  max-width: 800px;
}
.hero .hero-text .hero-buttons {
  display: flex;
  margin-top: 50px;
  gap: 60px;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .hero {
    height: 350px;
  }
  .hero .hero-text .hero-buttons {
    gap: 11px;
    margin-top: 20px;
  }
}
.text-with-image {
  height: 622px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: solid 2px var(--page-background);
}
.text-with-image .image-section {
  overflow: hidden;
}
.text-with-image .image-section img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.text-with-image .information {
  max-width: 590px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;
  display: flex;
  padding: 5vw;
  align-items: start;
}
.text-with-image .information .icon {
  width: 30px;
  height: 30px;
}
.text-with-image .information .icon img {
  object-fit: cover;
}

.text-with-image-reverse {
  direction: rtl;
}

.text-with-image .information-reverse {
  align-items: end;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .text-with-image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .text-with-image .information-reverse {
    width: auto;
  }
}
.two-elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 5vw;
  border-bottom: solid 2px var(--page-background);
}
.two-elements .image-element img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}
.two-elements .image-information {
  width: 100%;
  max-width: 590px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: start;
}

@media screen and (max-width: 991px) {
  .two-elements {
    grid-template-columns: 1fr;
  }
  .two-elements .image-element img {
    width: 100%;
  }
}
.heading {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: solid 2px var(--page-background);
}
.heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heading .heading_information {
  max-width: 590px;
  grid-row-gap: 20px;
  flex-direction: column;
  margin-right: auto;
  display: flex;
  padding: 5vw;
  align-items: start;
}

.product-selection .pop-up #pop-up-information {
  max-width: 590px;
  flex-direction: column;
  margin-right: auto;
  display: flex;
  padding: 5vw;
  align-items: start;
}
.product-selection .pop-up #pop-up-information h1 {
  margin: 0;
  margin: 20px 0;
}
.product-selection .pop-up #popup-container {
  padding: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.product-selection .pop-up #popup-container p {
  color: white;
}
.product-selection .pop-up #popup-container .options {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0 30px 0;
}
.product-selection .pop-up #popup-container .options button {
  background-color: var(--page-background);
  min-width: 340px;
  min-height: 60px;
  border: none;
  padding: 15px;
}
.product-selection .pop-up #popup-container .options button p {
  color: var(--text-color);
  text-align: left;
  font-size: 16px;
}
.product-selection .pop-up #popup-container .options button .close-button {
  margin-top: 20px;
}
.product-selection .pop-up #popup-container .result, .product-selection .pop-up #popup-container #result-text {
  margin-top: 20px;
  color: var(--text-color);
}
.product-selection .package-solution {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 5vw;
  gap: 20px;
  flex-wrap: wrap;
  color: var(--text-color);
}
.product-selection .package-solution .package {
  position: relative;
}
.product-selection .package-solution .package .product-add {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border: 0;
  background-color: var(--text-color);
  color: white;
}
.product-selection .package-solution .solution {
  background-color: var(--page-background);
  border: 2px solid rgba(0, 46, 106, 0.168627451);
  padding: 3vw;
  min-width: 200px;
  min-height: 250px;
}

@media screen and (max-width: 791px) {
  .product-selection .pop-up #popup-container .options {
    grid-template-columns: 1fr;
  }
  .package-solution .package {
    width: 100%;
  }
}
.shopping {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  padding: 5vw;
}
.shopping h3 {
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0;
}
.shopping .products .service {
  height: 120px;
  background-color: #e6e6e6;
  position: relative;
  padding: 20px;
}
.shopping .products .service .price {
  position: absolute;
  top: 20px;
  right: 20px;
}
.shopping .products .product {
  display: grid;
  grid-template-columns: 160px 2fr;
  grid-row-gap: 20px;
}
.shopping .products .product .product-information {
  background-color: #e6e6e6;
  position: relative;
  padding: 20px;
}
.shopping .products .product .product-information .price {
  position: absolute;
  top: 20px;
  right: 20px;
}
.shopping .products .product .product-information .package {
  display: flex;
  padding-left: 5vw;
}
.shopping .products .product .product-information .package img {
  height: 85px;
  width: 85px;
}
.shopping .products .product .product-information .amount {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
  align-items: center;
  gap: 5px;
}
.shopping .products .product .product-information .amount .number {
  background-color: white;
  border-radius: 50px;
  padding: 5px;
}
.shopping .products .product .product-information .amount svg {
  height: 15px;
  width: 15px;
}
.shopping .products img {
  height: 160px;
  width: 160px;
}
.shopping .cart {
  background-color: #e6e6e6;
  position: sticky;
  top: 140px;
  height: fit-content;
  padding: 20px;
}
.shopping .cart .total {
  margin-top: 40px;
  font-weight: 600;
}
.shopping .cart .shipping {
  margin-bottom: 40px;
}
.shopping .cart .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.shopping .cart .align-right {
  text-align: right;
}
.shopping .cart button {
  margin: 20px auto 40px auto;
  width: 100%;
}
.shopping .cart button a {
  display: flex;
  gap: inherit;
}
.shopping .cart button svg {
  height: 15px;
}

.padding-image {
  background-color: #e6e6e6;
  padding-bottom: 140px;
}

@media screen and (max-width: 991px) {
  .padding-image {
    background-color: transparent;
    padding-bottom: 0;
  }
  .shopping {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .shopping .products .product {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }
  .shopping .products .product img {
    height: 160px;
    width: 100%;
  }
  .shopping .products .product .product-information {
    margin-bottom: 20px;
  }
}
.column-information {
  min-height: 240px;
  width: 100%;
}
.column-information .column {
  width: 100%;
  color: white;
  padding: 3vw;
  gap: 20px;
}
.column-information .column img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin: auto;
}
.column-information .column .information {
  flex: 2;
}

@media screen and (max-width: 991px) {
  .column-information {
    height: auto;
    flex-wrap: wrap;
  }
}
.quote {
  height: auto;
  width: 100%;
  background-color: pink;
}
.quote .quote-information {
  width: fit-content;
  max-width: 500px;
  margin: auto;
  padding: 5vw;
}
.quote .quote-information .author-education {
  font-weight: 600;
  font-size: 12px;
}
.quote .quote-information h1 {
  margin-top: 20px;
}
.quote .quote-information img {
  height: 50px;
  width: 50px;
  margin-bottom: 40px;
}

.container {
  background-color: #182e4c;
  height: 460px;
  overflow: hidden;
  position: relative;
}
.container .h1 {
  margin: 0;
  color: white;
  margin: 80px 0 15px 5vw;
}
.container .slider {
  height: 200px;
  width: fit-content;
  gap: 20px;
}
.container .slider button {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.377);
}
.container .slider .prev {
  left: 6vw;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
}
.container .slider .next {
  left: 90vw;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
}
.container .slider .slides {
  display: flex;
  padding-left: 5vw;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
}
.container .slider .slides img {
  width: 460px;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width: 460px) {
  .container {
    height: 500px;
  }
  .container .slider .slides {
    padding-left: 0;
    gap: 0;
  }
  .container .slider .slides img {
    height: 300px;
  }
  .container .slider .slides .client-case-name {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .container .slider .next {
    left: 80vw;
  }
  .text-align-center-mobile {
    text-align: center;
  }
  .text-align-center-mobile h1 {
    margin: 80px 0 15px 0;
  }
  .container .h1 {
    margin: 80px 0 15px 0;
  }
}
.map {
  padding: 5vw;
}
.map .map-container {
  display: flex;
  margin-bottom: 10px;
}
.map .map-container #search-container {
  display: flex;
  gap: 5px;
}
.map .map-container #search-container input {
  height: 25px;
  margin: auto;
  width: 200px;
}
.map .map-container #search-container button {
  padding: 15px;
}
.map .map-container #search-container button svg {
  width: 20px;
}
.map .map-container p {
  flex: 1;
}
.map #map {
  height: 500px;
}
.map #icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  border: none;
}
.map #icons button {
  border: none;
  background-color: aliceblue;
  padding: 20px 30px;
}
.map #icons button:hover {
  background-color: var(--text-color);
}
.map #icons .icon1 img {
  object-fit: contain;
}
.map #icons img {
  height: 50px;
  width: 50px;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
}

th, td {
  padding: 10px;
  text-align: left;
}

.quantity-input {
  width: 50px;
  padding: 5px;
  font-size: 14px;
}

.remove {
  color: var(--dark-red);
}

.checkhout {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  gap: 10px;
}

.info {
  border-bottom: 1px solid gray;
}

.product-link {
  text-decoration: none;
  color: #333;
}

.product-info {
  padding: 5px;
}

.product-title {
  margin: 0;
}

.quantity, .price {
  margin: 0;
}

@media (max-width: 992px) {
  .checkhout {
    width: 50%;
  }
}
img {
  object-fit: cover;
}

.selected {
  background-color: #fef050;
  padding: 5px;
  margin: 5px;
}

body {
  background-color: var(white);
  font-family: var(--font-body);
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}

.bold {
  font-weight: 600;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.primary-button {
  color: #fff;
  z-index: 0;
  grid-column-gap: 11px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 20px;
}

.button-text-blue {
  z-index: 2;
  font-size: 16px;
  line-height: 1em;
  position: relative;
  color: var(--text-color);
}

.button-text-white {
  z-index: 2;
  font-size: 16px;
  line-height: 1em;
  position: relative;
  color: white;
}

@media screen and (max-width: 479px) {
  .primary-button {
    padding: 15px 30px;
  }
  .button-text {
    font-size: 14px;
  }
}
.secondary-button {
  background-color: transparent;
  color: #fff;
  z-index: 0;
  grid-column-gap: 11px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 20px;
}

@media screen and (max-width: 479px) {
  .secondary-button {
    padding: 15px 30px;
  }
  .button-text {
    font-size: 14px;
  }
}
.primary-button-blue {
  background-color: var(--text-color);
}

.primary-button-red {
  background-color: var(--dark-red);
}

.primary-button-yellow {
  background-color: var(--contrast-color);
}

.secondary-button-yellow {
  border: 2px solid var(--contrast-color);
}

.secondary-button-blue {
  border: 2px solid var(--text-color);
}

.secondary-button-red {
  border: 2px solid var(--dark-red);
}

/*# sourceMappingURL=index.css.map */
