:root {
  /* Fonts */
  --font-header: "Bai Jamjuree, sans-serif", Arial, sans-serif;
  --font-body: "Bai Jamjuree, sans-serif", Arial, sans-serif;
  --text-color: #182e4c;
  --heading-color: #182e4c;
  --page-background: #e7edf0;
  --blue-background: #1032cf;
  --light-red: #f84f43;
  --dark-red: #db3832;
  --contrast-color: #fef050;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  color: var(--text-color);
  text-decoration: none;
}

h1 {
  font-family: var(--font-header);
  font-size: 54px;
  font-weight: 700;
  line-height: 1em;
  overflow-wrap: anywhere;
  margin-top: 0;
  margin-bottom: 0;
  color: #182e4c;
  margin: 0.67em 0 0 0;
}

p {
  font-family: var(--font-body);
  margin-bottom: 0;
  font-size: 19px;
  line-height: 1.4em;
  color: #182e4c;
}

.block-text {
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.center-text {
  text-align: center;
}

.nav {
  z-index: 1000;
  background-color: var(--contrast-color);
  padding-top: 28px;
  padding-bottom: 28px;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}
.nav .logo {
  max-width: 200px;
  max-height: 30px;
}
.nav .content-wrapper {
  height: 64px;
  justify-content: center;
  display: flex;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3vw;
  padding-right: 3vw;
}
.nav .content-wrapper .nav-inner {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.nav .content-wrapper .nav-inner .menu {
  margin: auto auto;
  display: flex;
}
.nav .content-wrapper .nav-inner .menu .dropdown {
  display: flex;
  margin: auto;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box {
  min-width: 313px;
  margin-top: 15px;
  box-shadow: 0 20px 50px 9px rgba(0, 0, 0, 0.18);
  position: absolute;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box .dropdown-item {
  align-items: center;
  display: flex;
  grid-column-gap: 22px;
  padding: 14px 21px 14px 14px;
  border-bottom: 1px solid #e7edf0;
  background-color: white;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box .dropdown-item :hover {
  background-color: pink;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box .dropdown-item svg {
  height: 11px;
  width: 11px;
  position: absolute;
  right: 20px;
}
.nav .content-wrapper .nav-inner .menu .dropdown-box .dropdown-item .circle-icon {
  height: 50px;
  width: 50px;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
}
.nav .content-wrapper .nav-inner .menu .dropdown svg {
  height: 11px;
  width: 11px;
  margin-left: 4px;
}
.nav .content-wrapper .nav-inner .menu .menu-link {
  align-items: center;
  margin: 12px 1.8vw;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  display: flex;
}
.nav .content-wrapper .nav-inner .nav-right {
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}
.nav .content-wrapper .nav-inner .nav-right .information {
  display: flex;
  align-items: center;
  gap: 11px;
}
.nav .content-wrapper .nav-inner .nav-right .information .button {
  width: 150px;
}

body {
  background-color: var(white);
  font-family: var(--font-body);
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}

.button {
  background-color: var(--dark-red);
  color: #fff;
  z-index: 0;
  grid-column-gap: 11px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 20px;
}
.button .button-text {
  z-index: 2;
  font-size: 16px;
  line-height: 1em;
  position: relative;
  color: white;
}

/*# sourceMappingURL=index.css.map */
