.product-selection {
  .pop-up {
    #pop-up-information {
      max-width: 590px;
      flex-direction: column;
      margin-right: auto;
      display: flex;
      padding: 5vw;
      align-items: start;

      h1 {
        margin: 0;
        margin: 20px 0;
      }
    }

    #popup-container {
      padding: 20px;
      display: grid;
      justify-content: center;
      align-items: center;
      gap: 40px;
      transition: opacity 0.3s ease, transform 0.3s ease;

      p{
        color: white;
      }
      .options{
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px 0 30px 0;
      }
      .options button {
        background-color: var(--page-background);
        min-width: 340px;
        min-height: 60px;
        border: none;
        padding: 15px;
        p{
          color: var(--text-color);
          text-align: left;

          font-size: 16px;
   
        }
        .close-button{
          margin-top: 20px;
        }
  
      }
      .options button:hover {
        
        opacity: 90%;
      }
      
  
      .result, #result-text {
        margin-top: 20px;
        color: var(--text-color);
      }
    }
   

  }
.package-solution{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5vw;
    gap:20px;
    flex-wrap: wrap;
    color: var(--text-color);
    .package{
      position: relative;
      .product-add{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        border: 0;
        background-color: var(--text-color);
        color: white;
      }
    }
    .solution{
      background-color: var(--page-background);
      border: 2px solid #002e6a2b;
      padding: 3vw;
      min-width: 200px;
      min-height: 250px;
      p b{
        font-weight: 600;
      }
      ul{
        padding-left: 1.5vw;
      }
       ul li {
        margin: 5px 0 ;
        
      }
    }
}

}

@media screen and (max-width: 791px){
  .product-selection  .pop-up #popup-container .options{
    grid-template-columns: 1fr;
  }
  .package-solution .package{
    width: 100%;
  }
  .package-solution .package .test{
    text-align: center;
  }
  .product-selection .package-solution .solution ul{
    margin-left: 32%;
    margin-top: 20px;

  }
  .product-selection .package-solution .solution p{
    margin-left: 32%;
    margin-top: 20px;

  }
}

